/* src/App.css */

body {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

.dark-mode {
  background-color: #121212; /* Dark background for the body */
  color: #ffffff; /* Light text color for the body */
}

/* If you want to target specific components, do so like this */
.dark-mode .navbar {
  background-color: #333; /* Dark background for navbar */
}

/* You can add other global styles for dark mode here */
